<script setup lang="ts">
import { ref } from 'vue'
import { useRouter } from 'vue-router'
const login = ref('')
const loading = ref(false)

const required = (v: any) => v !== '' || 'Field is required'

const router = useRouter()

const redirectToRegister = () => {
  router.push('Register')
}


const onSubmit = async () => {}
</script>


<template>
  <v-card class="mx-auto px-6 py-8" max-width="344">
    <v-form @submit.prevent="onSubmit">
      <v-text-field
        v-model="login"
        :readonly="loading"
        :rules="[required]"
        class="mb-2"
        label="Login"
        clearable
      ></v-text-field>
      <br />

      <v-btn
        :disabled="required(login) !== true || loading"
        :loading="loading"
        color="success"
        size="large"
        class="mb-2"
        type="submit"
        variant="elevated"
        block
      >
        Sign In
      </v-btn>

      <v-btn
        color="primary"
        size="large"
        variant="elevated"
        block
        @click="redirectToRegister"
      >
        Register
      </v-btn>
    </v-form>
  </v-card>
</template>

<style scoped>
/* Add your scoped styles here */
</style>
