<script setup lang="ts">
import { ref, onMounted } from 'vue'

interface Wallet {
  userId: string;
  address: string;
  network: string;
}

const wallets = ref<Wallet>({
  userId: '',
  address: '',
  network: ''
})
const getWallets = async () => {
}
const copyAddress = async (address: string) => {
  await navigator.clipboard.writeText(address)
}

onMounted(() => {
  getWallets()
})
</script>

<template>
  <v-list>
    <v-list-item>
      <v-list-item-title  class="address-title">Address: <v-btn 
    class="ml-2 border"
    color="primary"
    variant="text"
    @click="copyAddress(wallets.address)"
  >
    Copy
  </v-btn >{{ wallets.address }} </v-list-item-title>
      <v-list-item-title>Network: {{ wallets.network }}</v-list-item-title>
    </v-list-item>
    <v-divider></v-divider>
  </v-list>
</template>

<style scoped>
.address-title {
  white-space: wrap;
  text-wrap: wrap;
}
</style>