<script setup lang="ts">
import { ref } from 'vue'
import { useRouter } from 'vue-router'

const router = useRouter()

const drawer = ref(false)


const toggleDrawer = () => {
  drawer.value = !drawer.value
}

const navigateTo = (route: string) => {
  drawer.value = false
  router.push(route) // Navigate to the specified route
}
</script>

<template>
  <v-layout class="navheader">
    <v-app-bar color="primary" prominent>
      <v-app-bar-nav-icon variant="text" @click.stop="toggleDrawer"></v-app-bar-nav-icon>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" location="start" temporary>
      <v-list>
        <v-list-item @click="navigateTo('Wallet')">
          <v-list-item-title>Wallet</v-list-item-title>
        </v-list-item>
        <v-list-item @click="navigateTo('Login')">
          <v-list-item-title>Login</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-layout>
</template>

<style>
.navheader {
  margin-bottom: 70px;
}
</style>
